{{> head}}
{{> navbar}}

<div class="row">
    <div class="col-8">
        <h1>Mi escritorio</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi neque facilis earum provident expedita aperiam officia. Mollitia, qui rem, provident asperiores natus maiores soluta eius officiis harum ullam, corporis amet!
        </p>
    </div>
    <div class="col-4">
        <img src="assets/img/escritorio.jpg" class="img-thumbnail">
    </div>
</div>

{{> footer}}